name: CD (Main Deployment)

on:
  push:
    branches:
      - main

jobs:
  docker-build-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push image
        run: |
          TAG=${GITHUB_SHA::7}
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/ci-go-web-image:$TAG .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/ci-go-web-image:$TAG

  helm-tag-update:
    name: Update Helm Image Tag
    runs-on: ubuntu-latest
    needs: docker-build-push

    steps:
      - uses: actions/checkout@v4

      - name: Update image tag
        run: |
          sed -i 's/tag:.*/tag: "'${GITHUB_SHA::7}'"/' go-web-app-helm/values.yaml

      - name: Commit & push Helm change
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add go-web-app-helm/values.yaml
          git commit -m "deploy: update image tag to ${GITHUB_SHA::7}"
          git push

